.rdpRoot {
    display: none;
    position: absolute;
    background-color: #ffffff;
    right: 0;
    top: 100%;
    padding: 10px 20px;
    border-radius: 20px;
    z-index: 800;

    &_active {
        display: block;
    }
}

.calendarInput {
    display: flex;
    flex-direction: row;
    gap: 3px;
    border: 1 solid #8C8C8C;
    padding: 5px 10px;
    border: 1px solid #8C8C8C;
    border-radius: 20px;
    cursor: pointer;

    &__title {
        color: #8C8C8C;

    }
}