@use "tailwindcss";

* {}

._container {
    max-width: 1650px;
    margin: 0 auto;
    padding: 0 30px;

    @media (max-width: 1440px) {
        max-width: 1240px;
        padding: 0 20px;
    }

    @media (max-width: 768px) {
        padding: 0 10px;
    }
}

.pages {
    &__list {
        margin: 20px 0;
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        gap: 20px;
    }
}