.text-hero {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;

    &__span {
        font-size: 18px;
        color: #7a7f86;
    }

    &__title-h1 {
        font-size: 68px;
        font-weight: 600;
        line-height: 1;
    }

    &__title {
        font-size: 22px;
        font-weight: 500;
        padding: 10px 0;
    }

    &__text {
        font-size: 14px;
        max-width: 450px;
        color: #7a7f86;
        margin: 0 0 20px 0;
    }

    &__link {
        color: #1765e3;
    }

    &__button {
        font-size: 14px;
        color: #ffffff;
        font-weight: 600;
        padding: 12px 20px;
        display: flex;
        flex-direction: row;
        gap: 8px;
        background-color: #1765e3;
        border-radius: 12px;
        cursor: pointer;
    }
}