.titlePanel {
    display: flex;
    flex-direction: row;
    padding: 10px 0;
    justify-content: space-between;
    align-items: center;

    &__title {
        font-size: 1.7rem;

    }

    &__search {}
}

.searchPanel {
    padding: 5px 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    min-width: 300px;
    max-width: 301px;
    border: 1px solid #8C8C8C;
    border-radius: 20px;


    &__input {
        padding: 5px 10px;
        width: 100%;
        border: none;
        outline: none;
    }
}

.upcomingEvents {
    &__title {
        font-size: 1.5rem;
        padding: 10px 0;
    }

    &__grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 20px;
        grid-row-gap: 10px;
    }

    &__item {}
}